// pop <fixed_segment> <i>

@SP
M=M-1
A=M
D=M
// save it for later in scratchpad R13, as we will need to put it in the right location in RAM
@R13
M=D

@<fixed_segment_base>
D=A
@<i>
D=D+A
// So D is now the actual index of RAM where we want to place the value popped off the stack
@R14
M=D

// finally place the saved value
@R13
D=M
@R14
A=M
M=D
